.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 3rem;
}
.container table {
    margin-top: 3rem;
}
.container h1 {
    color: white;
    font-weight: 600;
}