.card {
  width: 50%;
  min-width: 450px;
  margin: 1rem;
  box-sizing: border-box;
  max-width: 450px;
  color: black;
}
.description {
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    width: 50%;
    min-width: 250px;
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
    min-width: 250px;
  }
}

.card:last-child {
  margin-right: 0;
}

.card button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.card button:disabled {
  background-color: #dc3545;
  cursor: not-allowed;
}
