.reviews-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 25px;
  display: flex;
  width: 500px;
  max-width: 500px;
  height: 500px;
  overflow: hidden;
}

.reviews-card-header{
    display: flex;
    justify-content: center;
    
    
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.label-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
