.profile-container {
    display: flex;
    flex-direction: column;
    place-items: flex-start;
    width: 1000px;
    justify-content: space-around;
}

.profile-container p {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}