/* :root {
  --blanco: #FFF;
  --negro: #111111;
  --gris: #343A40;

  --fuentePrincipal: 'Raleway', sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,*:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
} */

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--verde-oscuro);
  color: var(--blanco);
  max-height: 10rem;
  place-content: center;
  align-content: flex-start;
}

.contenedorfootergrid {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 5rem;
  padding-bottom: 2rem;
  /* padding: 45px 0px; */
}

.footerwidget h1 span {
  font-weight: 700;
}
.footerwidget h3 {
  font-weight: 600;
  color:white;
}
.devs {
  color: white;
  text-decoration: underline;
  font-weight: 600;
}
.devs:hover {
  color: lightgrey;
}

.redsocial a {
  color: var(--blanco);
  display: inline-block;
  padding: 0 10px;
  margin: 0 0.3rem;
  transition: font-size 0.2s ease;
}
.redsocial a:hover {
  color: lightgray;
  font-size: larger;
}

.divsmall {
  background-color: rgb(22, 119, 66)
} 