.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(19, 19, 19, 0.8);
  color: #fff;
  padding: 1rem;
  
}

.footer-column {
  flex: 1;
  margin: 0 1rem;
}

.footer-column h3 {
  margin-bottom: 0.5rem;
}
