header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(19, 19, 19, 0.8);
  padding: 5px;
  text-align: center;
}

.user {
  font-size: 2rem;
  color: #ffffff;
  margin-right: 1.5rem
}

.navbar {
  background-color: #27ae60;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.navbar-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 30rem;
}

.navbar-item {
  margin-right: 30px;
}

.nav-item:last-child {
  margin-right: 0;
}

.nav-link {
  font-family: "Roboto", sans-serif;
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffffff;
  background-color: #27ae60;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #2ecc71;
}

.nav-link:hover {
  color: #d9dfe0;
}

.nav-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
