.reviews {
  /* width: 50%; */
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  place-content: center;
}

.card-container {
  display: flex; /* Alinea horizontalmente */
  flex-direction: row;
  place-content: center;
  align-items: center;
  max-width: 100%;
}

.card-review {
  border-radius: 1rem;
  
  /* overflow: hidden; */
  width: min-content;
  min-width: 30rem;
  height: 20rem;
  margin: 1rem;
  box-sizing: border-box;
  max-width: auto;
  background-color: var(--verde-medio);
  display: flex;
  flex-direction: column;
  place-content: center;
  align-items: center;
}

.card-header {
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-body {
  padding: 20px;
}

.card-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  color: white;
}

.card-score {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-score i {
  font-size: 24px;
  color: #ffc107;
  margin-right: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.prev-btn,
.next-btn {
  background-color: #007bff;
  color: #000000;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  z-index: 99;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #0062cc;
}

.prev-btn:disabled,
.next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
