.contacto-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 50px; */
  background-color: var(--verde-medio);
}

.card {
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) -3px -3px +15px -20%;
  margin-bottom: 100px;
}

.form-container-contacto {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 1rem;
}
