/* Landing.module.css */

.container {
  background-size: cover;
  background-position: center;
  height: 500px;
  display: flex;
  justify-content: space-between;
  padding-left: 600px;
  font-family: 'Barlow', sans-serif;
  color: white;
  border-radius: 10px;

}

.container h1 {
  color: white;
}
.container h2 {
  font-size: 1.2rem;
}

.loginContainer {
  background-color: rgba(19, 19, 19, 0.8);
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.switch:hover {
  cursor: pointer;
  text-decoration: underline;
}

label {
  display: block;
}

form input {
  width: 250px;
  padding: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
  background-color: #ffffff18;
  border-radius: 0.5rem;
}


button[type="submit"] {
  width: 50%;
  padding: 0.5rem;
  background-color: #5a5a5a;
  color: #ffffff;
  border: none;
  cursor: pointer;
}
button[type="submit"]:disabled:hover {
  cursor: not-allowed;
}

.socialButtons {
  display: flex;
  justify-content: space-around;
  font-weight: 900;
}

.socialButtons button {
  flex: 0 0 48%;
  background-color: white;
  color: black;
  min-width: 220px;
}
