.home-container {
  padding-top: 70px;
}
.wpp {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 8rem;
  height: 8rem;
  display: flex;
  place-content: center;
  place-items: center;
  z-index: 100;
  color: white;
  background-color: #4dc247;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
}
.wpp:hover {
color: white;
}
