.tabla {
    background-color: #303030;
    margin: 0;
    color:white;
    border: 10px solid #252525;
}
.head-tabla {
    border-bottom: 1px solid white
}
.celda {
    padding-left: 5px;
    padding-right: 5px;
}