@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: #111;
  background-color: #ececec;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  /* agregado */
  --blanco: #fff;
  --negro: #111111;
  --gris: #343a40;
  min-height: 100vh;
  --fuentePrincipal: "Titillium Web", sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100vh;
  min-height: 100vh;
  background: #fff;
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--verde-medio);
  cursor: pointer;
  transition: border-color 0.25s ease-out, background-color 0.25s ease-out;
  color: white;
}
button:hover {
  background-color: var(--verde-claro);
}
input {
  color: #111;
  background-color: white;
  border-radius: 1rem;

}
textarea {
  color: #111;
  background-color: white;
  border-radius: 1rem;
}
select {
  color: #111;
  background-color: white;
  border-radius: 1rem;
}
button {
  background-color: var(--verde-medio);
}
button:hover {
  border-color: var(--verde-claro);
}
button:focus,
button:focus-visible {
  outline: none;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #111;
    background-color: white;
  }
  a:hover {
    color: lightgrey;
  }
  button {
    background-color: var(--verde-medio);
    border-radius: 1rem;
  }
  button:hover{
    background-color: var(--verde-claro);
  }
  input {
    background-color: white;
    border-radius: 1rem;
  }
  select {
    background-color: white;
    border-radius: 1rem;
  }
}

.toast {
  position: absolute;
  top: -9999px;
  left: -9999px;
}