.nosotros-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;  
}

.miembro-card {
  background-color: #f8f9fa; /* El color del fondo que se usa en la home */
  border-radius: 0.25rem;
  padding: 10rem 0.5rem;
  margin-bottom: 0.75rem;
  margin-right: 0.75rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15);
  width: 47rem;
  display: grid;
  grid-template-columns: auto minmax(0, calc(100% - var(--image-size) - .5rem));
  margin-top: 50px;
}

.imagen-container{
    --image-size: 250px;
}

.miembro-img {
  width: var(--image-size);
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover; /* Asegura que la imagen mantendrá su aspecto original */
  border-radius: 50%; /* Para darle forma redonda a la imagen */
  margin-bottom: 15px;  
}

.iconos {
  display: flex;
  gap: 10px;
  justify-content: center;
  font-size: 25px;
  margin-top: 10px;
}

.iconos a {
  color: #333; /* Cambia el color del ícono aquí */
}

.titulo{
  display: flex;
  justify-content: center;
}