.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin-left: 1rem;
  max-width: 55%;
  font-weight: 500;
}

.container form {
  /* border: 2px solid white; */
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  place-content: center;
  color:white
}

.container form button[type="submit"] {
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 700;
}

.father {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 0rem;
  /* color: white; */
  place-content: center;
}
.father img {
  width: 500px;
  margin-left: 1rem;
  border-radius: 10px;
}

.ocupado {
  padding: 10px 20px 10px 20px;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #ba3b3b;
  border: none;
}
.ocupado:hover {
  cursor: not-allowed;
}

.libre {
  padding: 10px 20px 10px 20px;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: #3BBA74;
}
.libre:focus {
  background-color: rgb(39, 83, 204);
  border: none;
}
.libre:active {
  background-color: rgb(39, 83, 204);
  border: none;
}
.libre:target {
  background-color: rgb(39, 83, 204);
  border: none;
}
.libre:hover {
  cursor: pointer;
  border: none;
}

.seleccionado {
  padding: 10px 20px 10px 20px;
  border-radius: 1rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  background-color: rgb(39, 83, 204);
  border: none;
}

.date {
  font-size: 1.1em;
  border: 2px solid white;
  padding: 3px 5px 3px 7px;
  border-radius: 1.2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: white;
}

.dateContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.canchaimg {
  max-width: 55rem;
  height: 44rem;
  object-fit: cover;
}
.canchas {
  display: flex;
  justify-content: center;
}
.cancha {
  margin: 2rem;
  text-align: center;
}
.horarios {
  margin: 1rem;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.5);
}
