.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  margin: 1rem;
  max-width: 55%;
  font-weight: 500;
}

.container form {
  padding: 2rem 1rem 2rem 1rem;
  margin: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  place-content: center;
  color: #111;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
}

.container form button[type="submit"] {
  background-color: #1ca6e9;
  color: white;
  font-weight: 600;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
  display: flex;
  place-content: space-around;
  align-items: center;
  width: 18rem;
}
.submit img {
  max-width: 2.5rem;
  margin-left: 0;
}

.father {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  margin-top: 0rem;
  /* color: white; */
  place-content: center;
}
.father img {
  width: 500px;
  margin-left: 1rem;
  border-radius: 10px;
}

.ocupado {
  /* width: 10rem;
  height: 5rem; */
  border-radius: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: #ba3b3b;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 18pt;
  text-align: center;
}
.ocupado:hover {
  cursor: not-allowed;
  background-color: #ba3b3b;
}

.libre {
  /* width: 10rem;
  height: 5rem; */
  border-radius: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  background-color: var(--verde-medio);
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 18pt;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}
.libre:focus {
  background-color: rgb(39, 83, 204);
  border: none;
}
.libre:active {
  background-color: rgb(39, 83, 204);
  border: none;
  outline: none;
}
.libre:target {
  background-color: rgb(39, 83, 204);
  border: none;
}
.libre:hover {
  cursor: pointer;
  border: none;
  background-color: var(--verde-claro);
}

.seleccionado {
  transition: background-color 200ms ease-in-out;
  background-color: rgb(39, 83, 204);
  border-radius: 1rem;
  margin: 0.5rem;
  cursor: pointer;
  border: none;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
  font-size: 18pt;
  text-align: center;
}
.seleccionado:focus {
  outline: none;
  border: none;
}
.seleccionado:active {
  outline: none;
  border: none;
}
.seleccionado:hover {
  background-color: rgb(0, 119, 255);
}

.date {
  /* font-size: 1.5em; */
  border: 2px solid #111;
  padding: 3px 5px 3px 7px;
  border-radius: 1rem;
  color: #111;
  background-color: rgb(255, 255, 255);
  color-scheme: dark;
  font-size: larger;
  font-weight: 600;
}
.date:hover{
  cursor: pointer;
}
.date:active {
  outline: none;

}
.date::after {
  /* border: 2px solid var(--verde-medio); */
  outline: none;
}
.date::-webkit-calendar-picker-indicator {
  background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png)
    center/80% no-repeat;
  color: black;
}
.date::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}
.dateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.1rem;
  background-color: var(--verde-medio);
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.dateContainer p {
  line-height: 1.2;
  margin-top: 0rem;
}
.canchaimg {
  max-width: 55rem;
  height: 44rem;
  object-fit: cover;
}
.canchas {
  display: flex;
  justify-content: center;
}
.cancha {
  margin: 2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.5);
}
.horarios {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  border-radius: 1rem;
  justify-content: space-around;
  padding: 0 1rem 1rem 1rem;
}
